body {
}

.class2 {
    /*background-color: #0088cc;*/
    background-color: #17a2b8;
    color: #0088cc;
    border: medium solid;
}

.class1{
    background-color:white;
}

.txt {
    color: white;
    font-family: 'Vollkorn', serif;
    font-size: larger;
}

.txt1 {
    font-family: 'Vollkorn', serif;
    font-size: larger;
    color: #0088cc;    
}
.con1 {
    font-family: 'Roboto', sans-serif;
}

.con2 {
    font-family: 'Slabo 27px', serif;
    color: #0088cc;
}

.con3 {
    font-family: 'Nunito Sans', sans-serif;
    color: #0088cc;
}

.foot {
    background-color: white;
    color: #0088cc;
    border: medium solid;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

    .fa:hover {
        opacity: 0.7;
    }

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-pinterest {
    background: #cb2027;
    color: white;
}
.fa-skype {
    background: #00aff0;
    color: white;
}

.fa-yahoo {
    background: #430297;
    color: white;
}

.ju {
    /*margin-top: 0px;*/
    height: 600px;
    background-size: auto;
    /*background-image: url(https://img.marinas.com/v2/d098af8f7c8a25b60593b2b2402908d08dfe2899f05b79b058e2c32d409f7a84.jpg);*/
    background-image: url(images/marina.jpg);
    background-position: center bottom;
    /*background-repeat:no-repeat;*/
    /*background-color: #00bfff;*/
}
